
.stylez {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 10px;
}

a {
    font-size: 20px;
}

a:hover {
    background-color: aquamarine
}

a:active {
    background-color: blueviolet
}

a:visited {
    background-color: crimson
}